/* Début média queries */
@media screen and (max-width: 1200px) {
  .content-droit{
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    z-index: 1000;
  }
}

@media screen and (max-width: 1200px) {
  .contenu-gauche{
    position: fixed;
    background: url("../img/pomset/backgroundg.png");
    width: 100%;
    height: 100%;
    background-position: left;
    overflow: scroll;
    visibility: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    padding: 50px;
  }
}

/* Fin média queries */


.content-droit{
  left: 60%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  z-index: 1000;

}


.texte{
  color: white;
}

.logo{
  margin-top: 70px;
  margin-left:70px;
  margin-bottom: 150px;
}

/*.premier-block{
margin-top: 50px;
margin-left: 70px;
}*/

.deuxieme-titre{
  margin-bottom: 50px;
}

.troisieme-titre{
  margin-top: 200px;
}

a:visited{
  color: white !important;
}

a:link{
  text-decoration: none;
  color: white !important;
}

a:hover{
  color: #cdcb35;
}
.contenu-gauche{
  position: fixed;
  background: url("../img/pomset/backgroundg.png");
  width: 40%;
  height: 100%;
  background-position: left;
  overflow: scroll;

}

.btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 25px;
}
.btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 25px;
}

.btn3{
  background-color: grey;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 25px;
}

.btn:hover{
  background: #cdcb35;
}

.btn3:hover{
  background: #cdcb35;
}

.img-droite{
  width: 50%;
  position: absolute;
  top: 0;
  right:0;

}

.container-fluid{
  padding-left: 0;
}



.text-noir{
  color: #333333;
}

.trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: grey;
}

.container{
  width: 100%;
}

.premier-titre{
  position: absolute;
  right: 6px;
  top:10px;
}

.ecart{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.col-sm-6.img-double{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.col-sm-6.texte-couleur{
  margin-left: -12px;
}

.col-sm-6{
  padding-bottom: -20px ;
  padding-left: 1px;
  padding-right: 1px;

}

.col-xs-offset-7{
  padding:0px !important;

}

.image-gauche{
  padding-right: 5px !important;
}

.image-droite{
  padding-left: 5px !important;
}

.separation::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 60px;
  margin-bottom: 40px;

  background-color: grey;
}

.textcolor{
  color: #aa253b;
}

.btn-envoyer{
  margin-left: 50px;
  background-color: #232537;

}
.survol:hover{
  color: darkblue;
}

.deuxieme-trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0.2;
  margin-bottom: 5px;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.email{
  margin-left:10px;
}

.message{
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-control{
  border-radius: 10px;
}


.site{
  font-size: 20px;
}

.site:hover{
  color: #cdcb35;
}

.marge{
  margin-top: 100px;
}

.bg{
  background-color: #be3355;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg2{
  background-color: #e4e2d9;
  padding-top: 100px;
  padding-bottom: 100px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.right{
  float: right;
}

.container{
  padding-left: -50px !important;
  padding-right: 140px !important;
}



.ecart1{
  margin-top: 80px;
}

.ecart2{
  margin-top: 40px;
}

.btn-pad{
  padding-right: 63px;
}

.marge1{
  margin-top:-15px !important;
  margin-left: 60% !important;
}
