html{

  background: url("../img/main-pic2.jpg");
  width: 50%;
  height: 100%;
  background-position: right;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-size: cover;
  background-repeat: repeat-x;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
::-webkit-scrollbar {
  display: none;
}

h2{
  color: white;
}
h3{
  color: white;
}
p{
  color: white;
}

.logo{
  margin-top: 80px;
  margin-left:50px;
  margin-bottom: 150px;
}





.deuxieme-titre{
  margin-bottom: 50px;
}

.troisieme-titre{
  margin-top: 200px;
}

.quatrieme-titre{
  margin-top: 90px;
}

a:visited{
  color: white !important;
}

a:link{
  text-decoration: none;
  color: white !important;
}

a:hover{
  color: #cdcb35 !important;
}
.contenu-gauche{
  position: fixed;
  background: url("../img/pomset/backgroundg.png");
  width: 50%;
  height: 100%;
  background-position: left;

}

.btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 25px;
}
.btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 67px;
  padding-right: 67px;
  margin-left: 0px;
}

.btn6{
  padding: 66px;
}

.btn5{
  margin-left: 0px;
}
.btn:hover{
  background: #cdcb35;
}

.img-droite{
  width: 50%;
  position: absolute;
  top: 0;
  right:0;

}

.container-fluid{
  padding-left: 0;
}

@media screen and (max-width: 800px) {
  .contenu-gauche{
    position: fixed;
    background: url("../img/pomset/backgroundg.png");
    width: 100%;
    height: 100%;
    background-position: left;

    overflow: scroll;
  }

}

@media screen and (max-width: 1500px) {
  .logo1{
    margin-bottom: 60px !important;
    margin-top: 80px !important;
  }

  .font{
    font-size: 20px;
  }

  .deuxieme-titre1{
    margin-bottom: 0px !important;
  }

  .size1{
    font-size: 15px;
  }

  .ecart3{
    margin-top: 20px;
  }

}

@media screen and (max-width: 1200px) {
  .quatrieme-titre-bis{
    margin-top: 90px !important;
  }
}

@media screen and (min-width: 1500px) {
  .logo3{
    margin-left: 80px !important;

  }

}

.size{
  font-size: 20px;
}


.text-noir{
  color: #333333;
}

.trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: grey;
}

.container{
  width: 100%;
  padding-left: 0;
}

.premier-titre{
  position: absolute;
  right: 6px;
  top:10px;
}

.ecart{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.separation::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 100px;
  background-color: grey;
}

.textcolor{
  color: #aa253b;
}

.btn-envoyer{
  margin-left: 50px;
  background-color: darkblue;

}
.survol:hover{
  color: darkblue;
}

.deuxieme-trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: grey;
  opacity: 0.2;
  margin-bottom: 5px;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.email{
  margin-left:10px;
}

.message{
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-control{
  border-radius: 10px;
}


.site{
  font-size: 20px;
}

.site:hover{
  color: #cdcb35;
}

.marge{
  margin-top: 100px;
}
