/* Début média queries */
@media screen and (max-width: 1200px) {
  .content-droit{
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    z-index: 1000;

  }
}

@media screen and (max-width: 1200px) {
  .contenu-gauche{
    position: fixed;
    background: url("../img/pomset/backgroundg.png");
    width: 100%;
    height: 10% !important;
    background-position: left;
    /*overflow: scroll;*/
    visibility: hidden;
  }

  .font{
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    padding: 50px;
  }

}



@media screen and (max-width: 768px) {
  .image-gauche{
    padding-right: 0px !important;
    padding-bottom: 8px !important;
  }

  .image-droite{
    padding-left: 0px !important;
  }

}

@media screen and (max-width: 1500px) {
  .logo1{
    margin-bottom: 60px !important;
    margin-top: 80px !important;
  }

  .font{
    font-size: 20px;
  }

  .deuxieme-titre1{
    margin-bottom: 0px !important;
  }

  .size1{
    font-size: 15px;
  }

  .ecart3{
    margin-top: 20px;
  }
}



/* Fin média queries */

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-scrollbars-none;
}

html{

  background-position: right;
  background: url("../img/main-pic2.jpg");
  width: 50%;
  height: 100%;
  overflow: scroll;
  font-family: 'Raleway', sans-serif;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  overflow: -moz-scrollbars-none;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}



h2{
  color: white;
}
h3{
  color: white;
}
p{
  color: white;
}

.logo{
  margin-top: 80px;
  margin-left:40px;
  margin-bottom: 150px;
}

.texte{
  color: white;
}

/*.premier-block{
margin-top: 50px;
margin-left: 70px;
}*/

.deuxieme-titre{
  margin-bottom: 50px;
}

.deuxieme-titre1{
  margin-bottom: 0px !important;
}

.troisieme-titre{
  margin-top: 200px;
}

a:visited{
  color: white !important;
}

a:link{
  text-decoration: none;
  color: white !important;
}

a:hover{
  color: #cdcb35 !important;
}
.contenu-gauche{
  position: fixed;
  background: url("../img/pomset/backgroundg.png");
  width: 50%;
  height: 100%;
  background-position: left;
  overflow: scroll;
}

.btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 25px;
}
.btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding-left: 67px;
  padding-right: 67px;
  margin: 25px;
}

.btn:hover{
  background: #cdcb35;
}

.img-droite{
  width: 50%;
  position: absolute;
  top: 0;
  right:0;

}

.container-fluid{
  padding-left: 0;
}

.container.content{
  padding: 0;
}

@media screen and (max-width: 800px) {
  .contenu-gauche{
    position: fixed;
    background: url("../img/pomset/backgroundg.png");
    width: 100%;
    height: 100%;
    background-position: left;

    /*overflow: scroll;*/
  }

}
.size{
  font-size: 15px;
}

/* ---------------------------volet laterale---------------------------------------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ---------------------------fin volet laterale---------------------------------------*/

.text-noir{
  color: #333333;
}

.trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 20px;
  background-color: grey;
}

.container{
    padding-left: -10px !important;
    padding-right: 60px !important;
  }
}

.premier-titre{
  position: absolute;
  right: 6px;
  top:10px;
}

.ecart{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.separation::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 100px;
  background-color: grey;
}

.textcolor{
  color: #aa253b;
}

.btn-envoyer{
  margin-left: 50px;
  background-color: darkblue;

}
.survol:hover{
  color: darkblue;
}

.deuxieme-trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: grey;
  opacity: 0.2;
  margin-bottom: 5px;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.email{
  margin-left:10px;
}

.message{
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-control{
  border-radius: 10px;
}


.site{
  font-size: 20px;
}

.site:hover{
  color: #cdcb35;
}

.marge{
  margin-top: 100px;
}

.quatrieme-titre{
  margin-top: 90px;
}
