
.font{
  font-size: 40px;
}

.font1{
  font-size: 30px;
}

.font2{
  font-size: 17px;
}

/* Début média queries */
@media screen and (max-width: 1200px) {
  .content-droit{
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    z-index: 1000;
    overflow: scroll;

  }
}

@media screen and (max-width: 1200px) {
  .contenu-gauche{
    position: fixed;
    background: url("../img/gauche2.png");
    width: 100%;
    height: 10% !important;
    background-position: left;

    visibility: hidden;
  }

  .font{
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    padding: 50px;
  }

}



@media screen and (max-width: 768px) {
  .image-gauche{
    padding-right: 0px !important;
    padding-bottom: 8px !important;
  }

  .image-droite{
    padding-left: 0px !important;
  }

}

.size2{
  font-size: 16px;

}

@media screen and (max-width: 1500px) {
  .logo1{
    margin-bottom: 60px !important;
    margin-top: 80px !important;
  }

  .font{
    font-size: 35px;
  }

  .font1{
    font-size: 25px;
  }

  .deuxieme-titre1{
    margin-bottom: 0px !important;
  }

  .size1{
    font-size: 15px;

  }

  .size2{
    font-size: 16px;
  }

  .ecart3{
    margin-top: 20px;
  }
}



@media screen and (min-width: 1700px) {
  .logo3{
    margin-left: 80px !important;

  }

}

@media screen and (max-width: 1500px) {
  .logo3{
    margin-left: 70px !important;

  }

}

@media screen and (min-width: 468px)  {

  .container.padi{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }



}

@media screen and (max-width: 768px) {

  .container.padi{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }

}



.container.gif{
  padding-left: 10px;
  padding-right: 10px;
}


/* Fin média queries */

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar{
  display: none;
}

html {
  overflow: auto;

}



.content-droit{
  left: 60%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  z-index: 1000;

}

.social{
  margin-top: 10px;
}

.texte{
  color: white;
}

.logo{
  margin-top: 80px;
  margin-left:50px;
  margin-bottom: 150px;
}

.col-lg-5{
  width: 35%;
}

.deuxieme-titre{
  margin-bottom: 50px;
}

.troisieme-titre{
  margin-top: 200px;
}

.quatrieme-titre{
  margin-top: 90px;

}

a:visited{
  color: white;
}

a:link{
  text-decoration: none;
  color: white;
}


a:hover{
  color: #cdcb35;
}

a.lien{
  color: black;
}

.lien:hover{
    color: #cdcb35;
}

.espace-form{
  margin-bottom: 50px;
}

.espace-lien{
  padding-bottom: 50px;
  padding-top: 10px;
}

.contenu-gauche{
  position: fixed;
  background: url("../img/gauche2.png");
  width: 45%;
  height: 100%;
  background-position: left;
}

.btn{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 25px;
}
.btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  padding-left: 62px;
  padding-right: 62px;
  margin-left: 0px;
}

.btn3{

  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 25px;
}

.btn4{
  padding-left: 47px;
  padding-right: 47px;
}

.btn5{
  margin-left: 0px !important;
}

.btn7{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0px;
}

.btn:hover{
  background: #cdcb35;
}



.btn-top:hover{
  background: #a4a4a4;
}




.img-droite{
  width: 50%;
  position: absolute;
  top: 0;
  right:0;

}

.liens{
  display: none;
}
@media screen and (max-width: 1200px) {

  .liens{
    display: inherit;


  }

}



.text-noir{
  color: #333333;
}

.trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 45px;
  background-color: grey;
}




.trait2::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  background-color: #e6e6e6;
}

.container{
  width: 100%;

}



.container.content{
  padding: 0;
}

.premier-titre{
  margin-bottom: -30px;
}





.col-sm-6.img-double{
  margin: 5px !important;

}

.col-sm-6.texte-couleur{
  margin-left: 0px !important;
  padding-left: 10px;
}

.col-sm-6{
  padding-bottom: -20px ;
  padding-left: 1px;
  padding-right: 1px;

}

.col-xs-offset-7{
  padding:0px !important;

}

.image-gauche{
  padding-right: 5px;
}

.image-droite{
  padding-left: 5px;
}

.separation::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 4px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 15px;

  background-color: grey;
}

.textcolor{
  color: #aa253b;
}

.textcolor1{
  color: #a34296;
}

.textcolor2{
  color: #106ba5;
}

.textcolor3{
  color: #f8e555;
}
.btn-envoyer{
  margin-left: 50px;
  background-color: #3e4646;

}

.btn-top{
  margin-left: 50px;
  background-color: #4a5353;
  padding-left: 20px !important;
  padding-right: 20px !important;

}

.btn-close{
  margin-left: 50px;
  background-color: #4a535;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-right: 3%;
}

.span.glyphicon-remove{
  font-size: 40px;
}


.survol:hover{
  color: darkblue;
}

.deuxieme-trait::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0.2;
  margin-bottom: 5px;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.email{
  margin-left:10px;
}

.message{
  margin-top: 10px;
  margin-bottom: 50px;
}

.message1{
  margin-top: 10px;
  margin-bottom: 80px;
}

.form-control{
  border-radius: 10px;
}

.light{
  font-weight: lighter;
}

.bold{
  font-weight: bolder;
}
.site{
  font-size: 15px;
}

.site:hover{
  color: #cdcb35;
}

.marge{
  margin-top: 100px;
  margin-right: 50px;
}


.bg{

  margin-top: 0px !important;
  background-color: #bd1134;
  padding-left: 40px;
  padding-right: 40px;
}

.bg2{

  background-color: #e4e2d9;
  padding-top: 40px;
  padding-bottom: 40px;

}

.bg3{
  margin-top: 10px;
  background-color: #106ba5;
  padding-top: 4px;
  padding-bottom: 100px;
}

.bg4{
  margin-top: 10px;
  background-color: #DCDCDC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg5{

  background-color: #DCDCDC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg6{
  margin-top: 10px;
  background-color: #f8e555;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg7{

  background-color: #eeeeee;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg8{

  background-color: #c6c6c6;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.bg9{

  background-color: #e4e2d9;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;

}

.bg10{

  background-color: #e4e2d9;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;

}

.bg11{

  background-color: #DCDCDC;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.right{
  float: right;

}

.right1{
  float: right;
  margin-right: 50%;
  margin-top: 10%;
}

.right2{
  float: right;
  margin-right: 48%;
  margin-top: 10%
}

@media screen and (max-width: 1200px) {

  .marge4{
    margin-left: 8%;


  }

}

@media screen and (max-width: 600px) {

  .right{
    float: right;
    margin-right: 10%;
    margin-top: 30px;

  }

}

.row{
  margin-right: -7px;
  margin-left: -15px;
}

.container{
  padding-left: -10px !important;
  padding-right: 60px !important;
}

@media screen and (max-width: 1200px) {

  .container{
    padding-left: -10px !important;
    padding-right: 41px !important;
    padding-top: 0;
    padding-bottom: 0;
  }

}

.ecart{
  margin-top: 10px;
}



.ecart1{
  margin-top: 80px;
}

.ecart2{
  margin-top: 40px;
}

.btn-pad{
  padding-right: 50px;
}

.marge1{

  margin-left: 60% !important;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  float: right;
  display:none;
  color: red;
  background-color: blue;
}

.size{
  font-size: 20px;
}

.marge2{
  margin-right: 50px;
}
.marge3{
  margin-right:66px;
  margin-left: 50px;
}

.marge5{
  margin-bottom: 40px;
}

.form-control{
  margin:5px !important;
}

.footer{
  margin-top:60px;
  margin-bottom: 60px;
}
